.title {
  text-align: center;
}



/* .content {
  text-align: center;
} */

.search_location {
  text-align: right;
}

.trends {
  width: 300px;
  height: 800px;
  text-align: center;
  border: 5px solid black;
  border-radius: 15px;
}

.summary {
  border-radius: 2px solid blue;
}







.about_the_creators {
  text-align: center;
}

.backMain {
  text-align: center;
  width: 100pt;
  height: 50pt;
  font-size: 18pt;
  font: Helvetica, sans-serif;
  background-color: #e5756a;
  border-radius: 8pt;
  transition: background-color 0.5s ease-out;
}

.backMain:hover {
  background-color: #dead3a ;
  cursor: pointer;
}
