<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About us</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body class = "about">
    <h1 class="about_title">About the creators</h1>
    <div class = "about_surround">
      <div class = "ethan">
        <!-- <img src="" alt=""> -->
        <h3>Ethan Buranday</h3>
        <p>Ethan is a ...</p>
        <a href="https://github.com/ethan-buranday">Click here for Ethan's GitHub account.</a>
      </div>

      <div class = "noah">
        <!-- <img src="" alt=""> -->
        <h3>Noah Krohngold</h3>
        <p>Noah is a ...</p>
        <a href="https://github.com/krowngold">Click here for Noah's GitHub account.</a>
      </div>

      <div class="jason">
        <!-- <img src="" alt=""> -->
        <h3>Jason Li</h3>
        <p>Jason is a ...</p>
        <a href="https://github.com/TheOGKozy">Click here for Jason's GitHub account.</a>
      </div>
    </div>

    <div class="about_button">
      <button onclick="href='templates/main.html'" class="backMain" name = "backMain">Back to Trends</button>
    </div>
  </body>
</html>
