<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About us</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body class = "about">
    <div class="topnav">
      <div class="topnav_buttons">
        <a class="active" href="/">Home</a>
      </div>
      <img class="logo" src="images/earthsanity_logo.png" alt="earthsanity_logo">
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button class="submit" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="group_image">
      <img class="noahs_ark" src="images/noahs_ark.jpg" alt="noahs_ark.jpg">
    </div>
    <div class = "about_surround">
      <div class = "ethan">
        <!-- <img src="" alt=""> -->
        <h3>Ethan Buranday</h3>
        <p>Ethan is a Software Engineering student at Arizona State University in Tempe, AZ. He was the programming lead in Nogales High School's FRC team,
        Apache Genesis #6922. He loves playing video games and watching videos specifically on tech.</p>
        <a href="https://github.com/ethan-buranday">Click here for Ethan's GitHub account.</a>
      </div>

      <div class = "noah">
        <!-- <img src="" alt=""> -->
        <h3>Noah Krohngold</h3>
        <p>Noah is a computer science major at the University of Washington in Seattle.
        He's earned his Eagle Scout Rank and has competed for Lindbergh High School's Robotics team.
        He's developed a Snapchat following reviewing modern movies, and has fun arguing about music :)</p>
        <a href="https://github.com/krowngold">Click here for Noah's GitHub account.</a>
      </div>

      <div class="jason">
        <!-- <img src="" alt=""> -->
        <h3>Jason Li</h3>
        <p>Jason is a ...</p>
        <a href="https://github.com/TheOGKozy">Click here for Jason's GitHub account.</a>
      </div>
    </div>

  </body>
</html>
