<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trends</title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body class="content">
    <h1 class="title">Earthsanity</h1>
    <div class="search_location">
      <input type="search" name="location" placeholder="Location">
    </div>

    <div class="trends">
      <h2>Twitter Trends Right Now:</h2>
    </div>

    <div class="summary">
    </div>
    <div class="about_the_creators">
      <button onclick="window.location='/aboutus'" type="submit" class="backMain" name = "backMain">About the creators</button>
    </div>
  </body>
</html>
