<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trends</title>
    <link rel ="stylesheet" href = "/stylesheets/style.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="topnav">
      <div class="topnav_buttons">
        <a class="active" href="/">Home</a>
        <a class="aboutus" href="/aboutus">About The Creators</a>
      </div>
      <img class="logo" src="images/theLogo.png" alt="earthsanity_logo">
      <div class="search-container">
        <form method="POST" action="/">
          <input type="text" placeholder="Search..." name="search">
          <button class="submit" type="submit">Submit</button>
      </div>
   </div>

    {% if user_search %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      Either the town is too small or does not exist. Here's United States though....
    </div>
    {% endif %}
    <div class="trends_division grow">
    <h1 class="trends">Here's What's Happening Right Now In {{new_location}}:</h1>
      <div class = "top_trends">
        <ol>
          {% for i in range(10) %}
          <li class = "grow"><a href = 'https://twitter.com/search?q="{{search_names[i]}}"&src=trend_click' target = "_blank">{{top_trends[i].name}}</a>: {{top_trends[i].tweet_volume}} tweets</li>
          {% endfor %}
        </ol>
      </div>
    </div>

    <div class="location_response z-depth-3">
      <h2>Here's how {{new_location}} is feeling: {{rating}}<br>The calculated Average Sentiment Score is: {{sentimentValueScore}}</h2>
    </div>
    <script type="text/javascript" src="js/materialize.js"></script>
      <!-- <script src="/js/popup.js" type="text/javascript"></script> -->
  </body>
</html>
